// Place all the styles related to the MainMenus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.my-typography span{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.menu-stack{
  //margin: 0 auto;
  width:25em;
  margin-left: auto;
  margin-right: auto;
}

.my-sub-menu {
  list-style: none;
  margin:0;
  padding:5px;
  background-color: #f7f7f7;
  margin-top: 5px;
  margin-right: 5px;
  display:block;
  //float:left;
}

.menu-box {
  display:block;
  width:200px;
  float:left;
  //position: relative;
}

.menu-block {
  background-color: #f7f7f7;
  //display: inline;
  //max-width: 150px;
  //display:block;
  margin: 5px;
  //position: relative;

}

.dropdown-menu{
  //position:relative;
  left:450px;
  top:101%;

  overflow: hidden;
  //padding: 16px 0 0;
  //margin: 0 -29px;
  //position: relative;
  //width:25em;
  padding-top: 0px;
  padding-left:5px;

  margin-bottom: 0px;
  margin-top: 0px;
}
*/

.main-menu-name {
  list-style:none;
  padding-top:10px;
}

.child-menu-name{
  list-style-position:inside;
}

.head-menu{
  margin-left: auto;
  margin-right: auto;
  /*width: 400px;
  height: 50px;*/
  background: #d9d7d3;
  .head-menu-block{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    ul{
      display:inline-block;
      vertical-align:top;
      li{
        width:200px;
        white-space:pre-line;
        word-wrap: break-word;
      }
    }
  }
}


.column-menu{
  display: inline-block;
}


/*.navbar .dropdown-menu > li.column-menu ul
{
  display: inline-block;
  list-style: none outside none;
  margin: 0 0 16px;
  width: 100%;
}

.navbar .dropdown-menu > li.column-menu li
{
  display: inline;
  float: left;
  width: 100%;
  padding-left: 1em;
}

.navbar .dropdown-menu > li.column-menu:first-child
{
  margin-left: 0;
}

.column-menu ul li a, .column-menu ul li{
  white-space: pre-wrap;
  word-wrap: break-word;
  //word-break:break-all;
  overflow-wrap: break-word;
  //line-break: auto;
  //hyphens: manual;

  //white-space: pre;

}

.column-menu ul li span{
  width:100px;
  white-space:pre-line;
  word-wrap: break-word;
}

.span6 {
  margin-right: auto;
  margin-left: auto;
  width:490px;
}*/
