<div class="head-menu">
	<div class="head-menu-block">


    <ul>
      <% @mainmenu.each_with_index do |mm,n| %>
        <% if n % 2 == 0 %>
          <li class="nav-header main-menu-name"><span><%= link_to mm.mainmenuname, mm %></span></li>
          <% mm.child_menus.each do |cmenu| %>
            <li class="child-menu-name"><%= link_to cmenu.childmenuname, cmenu %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>

    <ul>
      <% @mainmenu.each_with_index do |mm,n| %>
        <% if n % 2 != 0 %>
          <li class="nav-header main-menu-name"><span><%= link_to mm.mainmenuname, mm %></span></li>
          <% mm.child_menus.each do |cmenu| %>
            <li class="child-menu-name"><%= link_to cmenu.childmenuname, cmenu %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>


	</div>
</div>